@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #ffffff;
    --color-foreground: #0f172a;

    --color-card: #f6f6f6f6;
    --color-card-foreground: #0f172a;

    --color-popover: #ffffff;
    --color-popover-foreground: #0f172a;

    --color-primary: #22c55e;
    --color-primary-foreground: #ffffff;
    --color-primary-50: #edf8f1;
    --color-primary-100: #daf0e2;
    --color-primary-200: #b6e1c4;
    --color-primary-300: #91d2a7;
    --color-primary-400: #6dc389;
    --color-primary-450: #50c878;
    --color-primary-500: #48b46c;
    --color-primary-600: #3a9056;
    --color-primary-700: #2b6c41;
    --color-primary-800: #1d482b;
    --color-primary-900: #0e2416;

    --color-secondary: #3b82f6;
    --color-secondary-foreground: #ffffff;
    --color-secondary-50: #eff6ff;
    --color-secondary-100: #d0edff;
    --color-secondary-200: #a3dcff;
    --color-secondary-300: #6cbcff;
    --color-secondary-400: #409cff;
    --color-secondary-500: #007bff;
    --color-secondary-600: #0062cc;

    --color-error-50: #fdecec;
    --color-error-400: #ff4d4f;
    --color-error-500: #f5222d;

    --color-muted: #f1f5f9;
    --color-muted-foreground: #64748b;

    --color-accent: #f1f5f9;
    --color-accent-foreground: #0f172a;

    --color-border: #e2e8f0;
    --color-input: #e2e8f0;
    --color-ring: #22c55e;

    --radius: 0.5rem;
    --color-gradient-primary: linear-gradient(to right,
        #22c55e,
        #2fa3aa,
        #3593d0,
        #3b82f6);

    --color-text-primary: #0f172a;
    --color-text-secondary: #475569;
    --color-text-error: #f5222d;
    --color-border-primary: #e2e8f0;
  }

  .dark {
    --color-background: #0f172a;
    --color-foreground: #f8fafc;

    --color-card: #111b32;
    --color-card-foreground: #f8fafc;

    --color-popover: #0f172a;
    --color-popover-foreground: #f8fafc;

    --color-primary: #4ade80;
    --color-primary-foreground: #0f172a;

    --color-muted: #1e293b;
    --color-muted-foreground: #94a3b8;

    --color-accent: #1e293b;
    --color-accent-foreground: #f8fafc;

    --color-border: #1e293b;
    --color-input: #1e293b;
    --color-ring: #4ade80;

    --color-text-primary: #f8fafc;
    --color-text-secondary: #94a3b8;
    --color-text-error: #ff4d4f;
    --color-border-primary: #1e293b;
  }
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}